<head>
    {% load static %}
    <script>
        HEROES = [
        {% for hero in heroes %}
            '{{ hero }}',
        {% endfor %}
        ]
    </script>
    <script src="{% static 'js/team_builder.js' %}"></script>
    <style>
        .builder_input {
            display: inline-block;
            border: solid black 1px;
            margin: 5px;
            padding: 5px;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <form id='builder_form' method='POST' action="/team_builder_res/" target='_blank'>
    {% csrf_token %}
        <div>
            <div class='builder_input' id='players'>
                <h3>Which Players Are In The Team?</h3>
            </div>
            <div class='builder_input' id='randoms'>
                <h3>Random Teammates?</h3>
            </div>
            <div class='builder_input'>
                <h3>2/2/2 Meta?</h3>
                <input type='checkbox' name='meta'>Yes
            </div>
            <div class='builder_input'>
                <h3>Team Size</h3>
                <input name='team_size' id='team_size' type='number' max='6' min='1' value='6' />
            </div>
        </div>
        <input type='submit' value='Find Team' style='display: block'>
    </form>
</body>
